* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.container {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

#display {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background: #000;
  color: #00ff00;
  font-size: 24px;
  border: none;
  text-align: right;
  padding: 10px;
  border-radius: 6px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.btn {
  height: 50px;
  background: #2b2b2b;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #3a3a3a;
}

.operator {
  background: orange;
  color: black;
}

.operator:hover {
  background: #ffb347;
}

.clear {
  grid-column: span 3;
  background: #e63946;
}

.clear:hover {
  background: #ff4d5a;
}

.equal {
  grid-column: span 2;
  background: #2196f3;
}

.equal:hover {
  background: #42a5f5;
}

/* .zero { */
  /* grid-column: span 2; */
/* } */
/*  */